.users-btn {
width: 100px;
padding: 5px;
color: #ff7f50;
font-size: 18px;
font-weight: bold;
border: none;
background-color: #fff;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
}

.dropdown-content p {
  color: #000000;
  padding: 12px 16px;
  margin: 0;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}